<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row mt-1 justify-content-center">
        <div style="margin-right: 20%;" class="col-10">
          <div class="row">
            <div class="col-3">
              <label for="inp" class="inp">
                <input [(ngModel)]="latitude" disabled type="text" id="inp" placeholder="&nbsp;">
                <span class="label">Latitude</span>
                <span class="focus-bg"></span>
              </label>
          </div>
            <div class="col-3">
              <label for="inp" class="inp">
                <input disabled [(ngModel)]="longitude" type="text" id="inp" placeholder="&nbsp;">
                <span class="label">Longitude</span>
                <span class="focus-bg"></span>
              </label>
            </div>
            <div class="col-3">
              <label for="inp" class="inp">
                <input [(ngModel)]="radius" (input)="updateRadius()" type="text" id="inp" placeholder="&nbsp;">
                <span class="label">Radius (m)</span>
                <span class="focus-bg"></span>
              </label>
            </div>
            <div class="col-3">
              <button style="margin-top:20px;" (click)="searchByLatLngAndRadius()" type="button" class="btn btn-primary">
                <i class="fas fa-search" aria-hidden="true"></i>
              </button>
              <button (click)="clearMap()" style="margin-top:20px; margin-left:5px ;" class="btn btn-danger">
                <i class="fas fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1 justify-content-center">
        <div class="col-12" style="margin-right: 30%;">
          <div class="row">
            <div class="col-12"> 
                <div class="card">
                  <div class="card-body">
                    <google-map height="380px" width="700px"
                    [center]="center" [zoom]="7" 
                    (mapClick)="selectLocation($event)">
                      <ng-container *ngFor="let marker of nearByPlaces">
                        <map-marker [position]="{ lat: marker.latitude, lng: marker.longitude }" 
                                    [options]="mapOptions.nearbyPlacesMarkerOptions"
                                    (mapClick)="selectMarker(marker)">
                        </map-marker>
                      </ng-container>
                        
                      <map-directions-renderer *ngIf="(directionsResults | async) as directions"
                      [directions]="directions"></map-directions-renderer>
                      
                      <map-marker *ngIf="latitude !== 0 && longitude !== 0" 
                      [position]="{ lat: latitude, lng: longitude }" 
                      [options]="mapOptions.selectedLocationMarkerOptions"></map-marker>
                      
                      <ng-template [ngIf]="latitude !== 0 && longitude !== 0">
                        <map-circle 
                        [center]="{ lat: latitude, lng: longitude }" 
                        [radius]="circleOptions.radius" 
                        [options]="circleOptions"></map-circle>
                      </ng-template>

                    </google-map>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2 justify-content-center">
        <div class="col-12" style="margin-right: 25%;">
          <div style="margin-right: 0%" class="row">
            <div class="col-3">
              <button [disabled]="!searchedInRadius" (click)="showPlaces('healthCenters')" class="button-23" role="button"><i class="fas fa-hospital fa-lg"></i></button>
            </div>
            <div class="col-3">
              <button [disabled]="!searchedInRadius" (click)="showPlaces('restaurants')" class="button-23" role="button"><i class="fas fa-cutlery fa-lg" aria-hidden="true"></i></button>
            </div>
            <div class="col-3">
              <button [disabled]="!searchedInRadius" (click)="showPlaces('superMarkets')" class="button-23" role="button"><i class="fas fa-cart-shopping fa-lg" aria-hidden="true"></i></button>
            </div>
            <div class="col-3">
              <button [disabled]="!searchedInRadius"  (click)="showPlaces('atms')" class="button-23" role="button">
                <img [style.opacity]="searchedInRadius ? '1' : '0.15'" src="../assets/atm_icon.png" alt="" style="height: 26px;" srcset="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row mt-1 justify-content-center"></div>
      <div class="row mt-5 justify-content-center">
        <div class="col-12">
          <h6>Nearby Places In <b><i>{{radius}}m</i></b> To Selected Location</h6>
        </div>
      </div>
      <div class="row mt-2 mb-2 justify-content-center">
        <div style="overflow-y: scroll; height: 400px">
<!--  -->
      <div *ngFor="let place of nearByPlaces" class="card" [ngClass]="{'selected': place.selected}">
        <div *ngIf="nearByPlaces.length>0" class="card-body">
          {{ place.name}} - {{place.distance}}m uzaklıkta
        </div>
      </div>
<!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
<app-spinner></app-spinner>
